{% extends "home/base.html" %}
{% load static %}

{% block events_active %} active {% endblock %}

{% block content %}
<br><br><br><br>

    <!-- Countdown Section Begin -->
    <!-- Countdown Section Begin -->
    <section class="countdown countdown--page spad set-bg" data-setbg="{% static 'img/home/countdown-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="countdown__text">
                        <h1>Brij Literature Fest 2K23</h1>
                        <h4>Festival start in</h4>
                    </div>

                    <div class="countdown__timer" >
                        <script class="e481c19fd6bd28e1e7eebba3a69b246e" src="https://w.promofeatures.com/js/timer/e481c19fd6bd28e1e7eebba3a69b246e.js?v=1704182137"></script>
                    </div>
                    <div class="buy__tickets">
                        <a href="#" class="primary-btn">Buy tickets</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Countdown Section End -->
    <!-- Countdown Section End -->

    <!-- Tours Section Begin -->
    <section class="tours spad">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 order-lg-1">
                    <div class="tours__item__text">
                        <h2>The Meetup Show</h2>
                        <div class="tours__text__widget">
                            <ul>
                                <li>
                                    <i class="fa fa-clock-o"></i>
                                    <span>4:00pm</span>
                                    <span>Jan 14, 2024</span>
                                </li>
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    EC - Conference Hall
                                </li>
                            </ul>
                            <div class="price">₹ 399.00</div>
                        </div>
                        <div class="tours__text__desc">
                            <p>Where connections are made, ideas are shared, and creativity sparks! Join us for an inspiring blend of meetups and shows that bring people together, fostering a dynamic exchange of thoughts and experiences. Discover, connect, and engage in this vibrant space where every meetup transforms into a unique and unforgettable show. Welcome to the magic of MeetupShow!</p>
                        </div>
                        <a href="{% url 'select_event' %}" class="primary-btn border-btn">Buy tickets</a>
                    </div>
                </div>


                <div class="col-lg-6 order-lg-2">
                    <div class="tours__item__pic">
                        <img src="{% static 'img/home/talk.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-4">
                    <div class="tours__item__text tours__item__text--right">
                        <h2>Treasure Hunt</h2>
                        <div class="tours__text__widget">
                            <ul>
                                <li>
                                    <i class="fa fa-clock-o"></i>
                                    <span>11:00pm</span>
                                    <span>Jan 14, 2024</span>
                                </li>
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    KC Ground
                                </li>
                            </ul>
                            <div class="price">₹ 99.00</div>
                        </div>
                        <div class="tours__text__desc">
                            <p>Treasure Hunt Event – an exhilarating adventure awaits! Join us for a thrilling experience of discovery and teamwork. Embark on a journey filled with clues, excitement, and hidden treasures waiting to be found. Unleash your inner explorer and make memories in this unforgettable Treasure Hunt Event. Let the quest begin!</p>
                        </div>
                        <a href="{% url 'select_event' %}" class="primary-btn border-btn">Buy tickets</a>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-3">
                    <div class="tours__item__pic tours__item__pic--left">
                        <img src="{% static 'img/home/th.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-5">
                    <div class="tours__item__text">
                        <h2>Incredible India</h2>
                        <div class="tours__text__widget">
                            <ul>
                                <li>
                                    <i class="fa fa-clock-o"></i>
                                    <span>11:00pm</span>
                                    <span>Jan 13, 2024</span>
                                </li>
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    EC - Conference Hall
                                </li>
                            </ul>
                            <div class="price">₹ 199.00</div>
                        </div>
                        <div class="tours__text__desc">
                            <p>Our Incredible India Show – a celebration of the diverse tapestry that is our nation! Immerse yourself in the rich colors, flavors, and rhythms that define the incredible mosaic of India. Join us for an unforgettable showcase of cultural wonders, highlighting the beauty and uniqueness that make India truly extraordinary. Get ready for a journey that transcends boundaries and revels in the magic of Our Incredible India Show!</p>
                        </div>
                        <a href="{% url 'select_event' %}" class="primary-btn border-btn">Buy tickets</a>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-6">
                    <div class="tours__item__pic tours__item__pic--last">
                        <img src="{% static 'img/home/india.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Tours Section End -->

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}