{% extends "home/base.html" %}
{% load static %}

{% block home_active %} active {% endblock %}

{% block content %}

<!-- Hero Section Begin -->

<!-- Hero Section End -->

<!-- Event Section Begin -->
<section id="events" class="event spad">
    <section class="hero ">
        <video autoplay muted loop style="width: 100%; left: 0;">
            <source src="{% static 'img/home/bg1.mp4' %}" type="video/mp4">
        </video>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <!-- <h2>Upcoming Pre-BLF Events</h2> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="event__slider owl-carousel">
                <div class="col-lg-4">
                    <div class="event__item">
                        <div class="event__item__pic set-bg" data-setbg="{% static 'img/home/th.jpg' %}">
                            <div class="tag-date">
                                <span>
                                    <a style="color: white; text-decoration: none;" href="{% url 'select_event' %}">Book Tickets Now!</a>

                                </span>
                            </div>
                        </div>
                        <div class="event__item__text">
                            <h4>Treasure Hunt</h4>
                            <p><i class="fa fa-map-marker"></i> KC Ground </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="event__item">
                        <div class="event__item__pic set-bg" data-setbg="{% static 'img/home/talk.jpg' %}">
                            <div class="tag-date">
                                <span>
                                    <a style="color: white; text-decoration: none;" href="{% url 'select_event' %}">Book Tickets Now!</a>
                                </span>
                            </div>
                        </div>
                        <div class="event__item__text">
                            <h4>Talk Show</h4>
                            <p><i class="fa fa-map-marker"></i> EC Conference Hall</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="event__item">
                        <div class="event__item__pic set-bg" data-setbg="{% static 'img/home/india.jpg' %}">
                            <div class="tag-date">
                                <span>
                                    <a style="color: white; text-decoration: none;" href="{% url 'select_event' %}">Book Tickets Now!</a>
                                </span>
                            </div>
                        </div>
                        <div class="event__item__text">
                            <h4>Incredible India</h4>
                            <p><i class="fa fa-map-marker"></i> EC Conference Hall</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- Event Section End -->

<!-- About Section Begin -->
<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about__pic" />
                <img id="presi" src="{% static 'img/home/lit/l9.jpeg' %}" alt="">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="about__text">
                <div class="section-title">
                    <h2>Our Dignitaries</h2>
                    <h1>Literario</h1>
                </div>
                <p>Discover the driving forces behind Club Literario in "Our Dignitaries". Meet our President(Mr.
                    Priyanshu Rai), Vice-President(Miss. Aishwant Saini), and General Secratory(Miss. Sambhavi Mishra),
                    the passionate minds shaping our literary haven. Each contributing to our vibrant literary
                    community. Welcome to the heart of Club Literario, where words come to life.</p>
                <a href="#" class="primary-btn">CONTACT US!</a>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- About Section End -->

<!-- Services Section Begin -->
<section class="services">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="services__left set-bg" data-setbg="{% static 'img/home/lit/6.jpg' %}">
                    <a href="https://www.youtube.com/watch?v=JGwWNGJdvx8" class="play-btn video-popup"><i
                            class="fa fa-play"></i></a>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="row services__list">
                    <div class="col-lg-6 p-0 order-lg-1 col-md-6 order-md-1">
                        <div class="service__item deep-bg">
                            <img src="{% static 'img/home/services/service-1.png" alt="">
                            <h4>Literary Exploration</h4>
                            <p>Foster a love for literature by providing a platform for members to explore diverse
                                genres, authors, and literary works.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 p-0 order-lg-2 col-md-6 order-md-2">
                        <div class="service__item">
                            <img src="{% static 'img/home/services/service-2.png" alt="">
                            <h4>Collaborations</h4>
                            <p>Build a supportive and inclusive community where members can connect over their shared
                                passion for literature.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 p-0 order-lg-4 col-md-6 order-md-4">
                        <div class="service__item deep-bg">
                            <img src="{% static 'img/home/services/service-4.png" alt="">
                            <h4>Creative Expression</h4>
                            <p>Host writing workshops, open mic nights, or collaborative projects to inspire and
                                showcase the diverse talents within the club.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 p-0 order-lg-3 col-md-6 order-md-3">
                        <div class="service__item">
                            <img src="{% static 'img/home/services/service-3.png" alt="">
                            <h4>Educational Initiatives</h4>
                            <p>Provide educational opportunities related to literature, such as author talks, seminars.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><br><br><br>
<!-- Club Mentors -->
<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about__pic">
                    <img id="mentor" src="{% static 'img/home/lit/mentor.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about__text">
                    <div class="section-title">
                        <h2>Our Club Mentors</h2>
                        <h1>Literario</h1>
                    </div>
                    <p>Mrs. Mamta Bhatnagar Ma'am and Mr. Rohan Prakash Sir, distinguished mentors, illuminate the path
                        of literary exploration within Club Literario. Mamta ma'am, with her profound knowledge and
                        nurturing spirit, inspires members to delve into the intricacies of language and
                        self-expression. Rohan sir, known for his dynamic approach and infectious enthusiasm, infuses
                        the club with energy. Together, They play pivotal roles in guiding Club Literario towards a
                        richer understanding of literature and transformative force for its members.</p>
                    <a href="#" class="primary-btn">CONTACT US!</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Club Mentors -->
<!-- Services Section End -->

<!-- Track Section Begin -->
<!-- <section class="track spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="section-title">
                        <h2>Latest tracks</h2>
                        <h1>Music podcast</h1>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="track__all">
                        <a href="#" class="primary-btn border-btn">View all tracks</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 p-0">
                    <div class="track__content nice-scroll">
                        <div class="single_player_container">
                            <h4>David Guetta Miami Ultra</h4>
                            <div class="jp-jplayer jplayer" data-ancestor=".jp_container_1"
                                data-url="music-files/1.mp3"></div>
                            <div class="jp-audio jp_container_1" role="application" aria-label="media player">
                                <div class="jp-gui jp-interface">
                                    Player Controls
                                    <div class="player_controls_box">
                                        <button class="jp-play player_button" tabindex="0"></button>
                                    </div> -->
<!-- Progress Bar -->
<!-- <div class="player_bars">
                                        <div class="jp-progress">
                                            <div class="jp-seek-bar">
                                                <div>
                                                    <div class="jp-play-bar">
                                                        <div class="jp-current-time" role="timer" aria-label="time">0:00
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                    </div> -->
<!-- Volume Controls -->
<!-- <div class="jp-volume-controls">
                                        <button class="jp-mute" tabindex="0"><i
                                                class="fa fa-volume-down"></i></button>
                                        <div class="jp-volume-bar">
                                            <div class="jp-volume-bar-value" style="width: 0%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_player_container">
                            <h4>David Guetta Miami Ultra</h4>
                            <div class="jp-jplayer jplayer" data-ancestor=".jp_container_2"
                                data-url="music-files/2.mp3"></div>
                            <div class="jp-audio jp_container_2" role="application" aria-label="media player">
                                <div class="jp-gui jp-interface"> -->
<!-- Player Controls -->
<!-- <div class="player_controls_box">
                                        <button class="jp-play player_button" tabindex="0"></button>
                                    </div> -->
<!-- Progress Bar -->

<!-- Volume Controls -->
<!-- <div class="jp-volume-controls">
                                        <button class="jp-mute" tabindex="0"><i
                                                class="fa fa-volume-down"></i></button>
                                        <div class="jp-volume-bar">
                                            <div class="jp-volume-bar-value" style="width: 0%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_player_container">
                            <h4>David Guetta Miami Ultra</h4>
                            <div class="jp-jplayer jplayer" data-ancestor=".jp_container_3"
                                data-url="music-files/3.mp3"></div>
                            <div class="jp-audio jp_container_3" role="application" aria-label="media player">
                                <div class="jp-gui jp-interface"> -->
<!-- Player Controls -->
<!-- <div class="player_controls_box">
                                        <button class="jp-play player_button" tabindex="0"></button>
                                    </div> -->
<!-- Progress Bar -->
<!-- <div class="player_bars">
                                        <div class="jp-progress">
                                            <div class="jp-seek-bar">
                                                <div>
                                                    <div class="jp-play-bar">
                                                        <div class="jp-current-time" role="timer" aria-label="time">0:00
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                    </div> -->
<!-- Volume Controls -->
<!-- <div class="jp-volume-controls">
                                        <button class="jp-mute" tabindex="0"><i
                                                class="fa fa-volume-down"></i></button>
                                        <div class="jp-volume-bar">
                                            <div class="jp-volume-bar-value" style="width: 0%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_player_container">
                            <h4>David Guetta Miami Ultra</h4>
                            <div class="jp-jplayer jplayer" data-ancestor=".jp_container_4"
                                data-url="music-files/4.mp3"></div>
                            <div class="jp-audio jp_container_4" role="application" aria-label="media player">
                                <div class="jp-gui jp-interface"> -->
<!-- Player Controls -->
<!-- <div class="player_controls_box">
                                        <button class="jp-play player_button" tabindex="0"></button>
                                    </div> -->
<!-- Progress Bar -->
<!-- <div class="player_bars">
                                        <div class="jp-progress">
                                            <div class="jp-seek-bar">
                                                <div>
                                                    <div class="jp-play-bar">
                                                        <div class="jp-current-time" role="timer" aria-label="time">0:00
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                    </div> -->
<!-- Volume Controls -->
<!-- <div class="jp-volume-controls">
                                        <button class="jp-mute" tabindex="0"><i
                                                class="fa fa-volume-down"></i></button>
                                        <div class="jp-volume-bar">
                                            <div class="jp-volume-bar-value" style="width: 0%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_player_container">
                            <h4>David Guetta Miami Ultra</h4>
                            <div class="jp-jplayer jplayer" data-ancestor=".jp_container_5"
                                data-url="music-files/5.mp3"></div>
                            <div class="jp-audio jp_container_5" role="application" aria-label="media player">
                                <div class="jp-gui jp-interface"> -->
<!-- Player Controls -->
<!-- <div class="player_controls_box">
                                        <button class="jp-play player_button" tabindex="0"></button>
                                    </div> -->
<!-- Progress Bar -->
<!-- <div class="player_bars">
                                        <div class="jp-progress">
                                            <div class="jp-seek-bar">
                                                <div>
                                                    <div class="jp-play-bar">
                                                        <div class="jp-current-time" role="timer" aria-label="time">0:00
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                    </div> -->
<!-- Volume Controls -->
<!-- <div class="jp-volume-controls">
                                        <button class="jp-mute" tabindex="0"><i
                                                class="fa fa-volume-down"></i></button>
                                        <div class="jp-volume-bar">
                                            <div class="jp-volume-bar-value" style="width: 0%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_player_container">
                            <h4>David Guetta Miami Ultra</h4>
                            <div class="jp-jplayer jplayer" data-ancestor=".jp_container_6"
                                data-url="music-files/6.mp3"></div>
                            <div class="jp-audio jp_container_6" role="application" aria-label="media player">
                                <div class="jp-gui jp-interface"> -->
<!-- Player Controls -->
<!-- <div class="player_controls_box">
                                        <button class="jp-play player_button" tabindex="0"></button>
                                    </div> -->
<!-- Progress Bar -->
<!-- <div class="player_bars">
                                        <div class="jp-progress">
                                            <div class="jp-seek-bar">
                                                <div>
                                                    <div class="jp-play-bar">
                                                        <div class="jp-current-time" role="timer" aria-label="time">0:00
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                    </div> -->
<!-- Volume Controls -->
<!-- <div class="jp-volume-controls">
                                        <button class="jp-mute" tabindex="0"><i
                                                class="fa fa-volume-down"></i></button>
                                        <div class="jp-volume-bar">
                                            <div class="jp-volume-bar-value" style="width: 0%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 p-0">
                    <div class="track__pic">
                        <img src="{% static 'img/home/track-right.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>  -->
<!-- Track Section End -->

<!-- Youtube Section Begin -->
<section class="youtube spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Youtube feed</h2>
                    <h1>Latest videos</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="youtube__item">
                    <div class="youtube__item__pic set-bg" data-setbg="{% static 'img/home/lit/12.jpg' %}">
                        <a href="https://www.youtube.com/watch?v=yJg-Y5byMMw?autoplay=1" class="play-btn video-popup"><i
                                class="fa fa-play"></i></a>
                    </div>
                    <div class="youtube__item__text">
                        <h4>Brij Literature Fest 2k23</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="youtube__item">
                    <div class="youtube__item__pic set-bg" data-setbg="{% static 'img/home/lit/7.jpg' %}">
                        <a href="https://www.youtube.com/watch?v=K4DyBUG242c?autoplay=1" class="play-btn video-popup"><i
                                class="fa fa-play"></i></a>
                    </div>
                    <div class="youtube__item__text">
                        <h4>Brij Literature Fest 2k22</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="youtube__item">
                    <div class="youtube__item__pic set-bg" data-setbg="{% static 'img/home/lit/10.jpg' %}">
                        <a href="https://www.youtube.com/watch?v=S19UcWdOA-I?autoplay=1" class="play-btn video-popup"><i
                                class="fa fa-play"></i></a>
                    </div>
                    <div class="youtube__item__text">
                        <h4>Brij Literature Fest 2k21.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Youtube Section End -->

<!-- Countdown Section Begin -->
<!-- Countdown Section Begin -->
<section class="countdown countdown--page spad set-bg" data-setbg="{% static 'img/home/countdown-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="countdown__text">
                    <h1>Brij Literature Fest 2K23</h1>
                    <h4>Festival start in</h4>
                </div>

                <div class="countdown__timer" >
                    <script class="e481c19fd6bd28e1e7eebba3a69b246e" src="https://w.promofeatures.com/js/timer/e481c19fd6bd28e1e7eebba3a69b246e.js?v=1704182137"></script>
                </div>
                <div class="buy__tickets">
                    <a href="#" class="primary-btn">Buy tickets</a>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
</section>
<!-- Countdown Section End -->
<!-- Countdown Section End -->

{% endblock %}