{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add this line for the Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">
    <link href="{% static 'css/home/registration.css' %}" rel="stylesheet">

    <title>Event Registration Form</title>

    <style>
        #otherReferralInput {
            display: none;
        }

        #other{
            display: none;
        }
    </style>
</head>
</body>

<body style="font-family: Arial"
    class="bg-gradient-to-br from-[#131e45] via-blue-950 to-[#212121] scroll-smooth no-scrollbar">

    {% for message in messages %}

    <div class="bg-{{message.tags}}-100 border border-green-200 text-{{message.tags}}-800 px-4 py-3 m-10 rounded relative"
        role="alert">
        <strong class="font-bold">{{ message }}</strong>
    </div>

    {% endfor %}

    <div class="flex items-center justify-center p-12 ">
        <div style="border-radius: 24px;
        background: #172554;
        box-shadow:  20px 20px 40px #121c43,
                     -20px -20px 40px #121c43;"
            class="form-container mx-auto w-full max-w-[550px] bg-blue-950 rounded-3xl">


            <form class="py-6 px-9 text-[#ffffff]" method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                <div class="my-2 flex justify-center">
                    <span class="font-bold text-3xl">Registration Form</span>
                </div>
                <br>
                <div class="mb-5">
                    <!-- text-[#07074D] -->
                    <label for="name" class="mb-1 block text-base font-medium text-[#e4dede]">
                        Full Name:
                    </label>
                    <input type="text" name="name" id="email" placeholder="eg:- Bhupendra Jogi"
                        class="w-full rounded-xl border border-slate-500 bg-slate-100 py-3 px-6 text-base font-medium text-[#000000] outline-none focus:border-[#6A64F1] focus:shadow-md"
                        required />

                    <label for="course" class="mt-3 mb-1 block text-base font-medium text-[#e4dede]">
                        Course:
                    </label>
                    <select id="course" name="course" required
                        class="block appearance-none w-full bg-gray-100 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-purple-500">
                        <option selected value="B.Tech">B.Tech</option>
                        <option value="BCA">BCA</option>
                        <option value="BBA">BBA</option>
                        <option value="MCA">MCA</option>
                        <option value="MBA">MBA</option>
                        <option value="BA">BA</option>
                    </select>

                    <label for="year" class="mt-3 mb-1 block text-base font-medium text-[#e4dede]">
                        Year of Study:
                    </label>
                    <select id="year" name="year" required
                        class="block appearance-none w-full bg-gray-100 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-purple-500">
                        <option selected value="1st Year">1st Year</option>
                        <option value="2nd Year">2nd Year</option>
                        <option value="3rd Year">3rd Year</option>
                        <option value="4th Year">4th Year</option>
                    </select>

                    <label for="email" class="mt-3 block text-base font-medium text-[#e4dede]">
                        E-mail:
                    </label>
                    <input type="email" name="email" id="email" placeholder="aayein@gla.ac.in"
                        class="w-full rounded-xl border border-slate-500 bg-white py-3 px-6 text-base font-medium text-[#000000] outline-none focus:border-[#6A64F1] focus:shadow-md"
                        required />

                    <div>
                        <label for="email" class="mt-3 block text-base font-medium text-[#e4dede]">
                            Choose Event:
                        </label>
                        <div class="relative">
                            <select required name="event"
                                class="w-full rounded-xl border border-slate-500 bg-white py-3 px-6 mr-5 text-base font-medium text-[#000000] outline-none focus:border-[#6A64F1] focus:shadow-md"
                                id="grid-state">
                                <option class="text-[#767575]" disabled>Choose here</option>
                                {% for event in events %}

                                <option value="{{ event.id }}">{{ event.name }} - ₹{{ event.ticket_price }}</option>

                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="mt-8 text-center rounded">
                    <img src="{% static 'img/home/abhay_payment.jpeg' %}" alt="Event Image"
                        class="max-w-full rounded-lg">
                </div>
                <br>

                <div class="">
                    <div class="mb-8">
                        <label for="file"
                            class="relative flex min-h-[100px] items-center justify-center rounded-md border border-dashed border-[#e4dede] p-12 text-center">
                            <div>
                                <span
                                    class="inline-flex rounded border border-[#ffffff] py-2 px-7 text-base font-medium text-[#e4dede]">
                                    Browse
                                </span>
                            </div>
                        </label>
                        <input type="file" name="screenshot" accept="image/*" required="" id="file" class="sr-only" />
                    </div>

                    <div style="margin-top: -20px;">
                        <button disabled
                            class="hover:shadow-form w-full rounded-md bg-[#6A64F1] hover:bg-[#4c47ac] py-3 px-8 text-center text-base font-semibold text-[#e4dede] outline-none">
                            Upload Payment Screenshot Here 👆
                        </button>
                    </div>
                </div>
                <div>
                    <label for="text" class="mt-3 block text-base font-medium text-[#e4dede]">
                        UTR/Reference Number:
                    </label>
                    <input type="text" name="referrance_number" id="utr" placeholder="example@domain.com"
                        class="w-full rounded-xl border border-slate-500 bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                        required />

                    <label for="Reference" class="mt-3 block text-base font-medium text-[#e4dede]">
                        Reference<span class="text-sm">(optional)</span>:
                    </label>
                    <select id="referenceName" name="referral_code" onchange="checkReferral()"
                        class="block appearance-none w-full bg-gray-100 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-purple-500">
                        <option value="" selected disabled hidden>--Select--</option>

                        {% for referral in referrals %}
                        <option value="{{ referral.referral_code }}">
                            {{ referral.first_name }} {{ referral.last_name }} (Lit-{{referral.referral_code}})
                        </option>
                        {% endfor %}
                        <option value="other">Other</option>

                    </select>

                    <label for="otherReferralInput" id="other"
                        class="mt-3 block text-base font-medium text-[#e4dede]">
                        Other Referral Name:
                        </label>
                   

                    <input type="text" id="otherReferralInput" placeholder="eg: Literario Lover" name="other_referral_name"
                        class="w-full rounded-xl border border-slate-500 bg-white py-3 px-6 text-base font-medium text-[#000000] outline-none focus:border-[#6A64F1] focus:shadow-md"
                        required />

                    <br>


                </div>
                <div>
                    <button
                        class="hover:shadow-form w-full rounded-md bg-[#44ce4d] hover:bg-[#38943e] py-3 px-8 text-center text-base font-semibold text-[#e4dede] outline-none">
                        Book Your Ticket Now!
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script>

        function checkReferral() {
            console.log("Hello");
            var referralSelect = document.getElementById("referenceName");
            var other = document.getElementById("other");
            var otherReferralInput = document.getElementById("otherReferralInput");

            if (referralSelect.value === "other") {
                other.style.display = "block";
                otherReferralInput.style.display = "block";
                
                
            } else {
                other.style.display = "none";
                otherReferralInput.style.display = "none";
            }
        };
    </script>
</body>


</html>